@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

footer {
  background: var(--color-primary);
  height: 40vh;
}

:root {
  --color-primary: #2F2E41;
  --color-secondary: #fff;
  --color-hero-1: #B8FFA3;
  --color-hero-2: #32D5D3;
  --color-button-1: #46AAE4;
  --color-button-2: #1E12F6;
  --color-card-btn-gradient-1: #D57E21;
  --color-card-btn-gradient-2: #F94B9F;
  --color-card-gradient-1: #3B299E;
  --color-card-gradient-2: #1DBBFF;
}

.background {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right bottom, var(--color-hero-1), var(--color-hero-2));
  position: absolute;
  left: -1.7rem;
  top: 0;
  z-index: -1;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 0 100%;
}

.header-container__logo-box {
  margin-left: 15.5rem;
}

.header-container__logo-png {
  height: 4rem;
}

.header-container__links-container {
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: 15.5rem;
}

.header-container__links-box {
  padding: 4rem 0;
}

.header-container__links {
  text-decoration: none;
  color: var(--color-secondary);
  font-weight: 600;
  font-size: 2.5rem;
  transition: all .2s;
  padding: 4rem 4rem;
}

.header-container__links:hover {
  background: rgba(0, 0, 0, 0.02);
}

.home-container {
  height: 88.6vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-secondary);
  position: relative;
}

.home-container__part-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 40%;
}

.home-container__main-header {
  flex: 0 0 35%;
  font-size: 8rem;
}

.home-container__part-2 {
  transform: scale(0.8) rotate(180deg);
  position: absolute;
  bottom: 5%;
}

.home-container__part-2 #triangle-3, .home-container__part-2 #triangle-4 {
  display: none;
}

.home-container__part-2 #triangle-1, .home-container__part-2 #triangle-2 {
  animation: arrowDown 1s infinite;
}

.about-container {
  display: flex;
  height: 100vh;
  position: relative;
  overflow-y: hidden;
  padding: 12rem 0;
}

.about-container__description {
  margin-left: 15.5rem;
  margin-right: 25rem;
  color: var(--color-primary);
  font-size: 1.4rem;
}

.about-container__header {
  text-transform: capitalize;
  margin-bottom: 4rem;
  font-weight: 700;
  font-size: 4rem;
}

.about-container__collage {
  margin-right: 15.5rem;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}

.about-container__photo-1 {
  width: 62rem;
  height: 27.8rem;
  margin-bottom: 2rem;
  border-radius: 30px;
}

.about-container__photo-2 {
  width: 30rem;
  height: 42.5rem;
  border-radius: 30px;
}

.about-container__photo-3 {
  width: 30rem;
  height: 42.5rem;
  margin-left: 2rem;
  border-radius: 30px;
}

.about-container__photo-bottom {
  display: flex;
}

.about-container__view-video-btn {
  border: none;
  padding: 3rem 8rem;
  background-image: linear-gradient(to bottom right, var(--color-hero-1), var(--color-button-1));
  border-radius: 50px;
  font-size: 2.2rem;
  font-weight: 600;
  color: var(--color-secondary);
  outline: none;
  position: relative;
  cursor: pointer;
}

.about-container__view-video-btn:active {
  transform: translateY(-1.5px);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.about-container__view-video-btn::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50px;
  transition: background-color .4s;
}

.about-container__view-video-btn:hover::after {
  background-color: rgba(196, 222, 255, 0.2);
}

.about-container__video-container {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: -1000rem;
  z-index: 1000;
  transition: all .5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video {
  border-radius: 20px;
}

.close-ico {
  font-size: 3.5rem;
  background-image: linear-gradient(to bottom right, #0077ff, #00ff62, #46ff17);
  -ms-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
}

.close-ico:hover {
  background-image: linear-gradient(to bottom right, #0366d8, #03d855, #3fdd17);
}

.slide-down {
  top: 0;
}

.paragraph {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 2;
  margin-bottom: 3rem;
}

.pricing-container {
  width: 100%;
  height: 100vh;
  background: var(--color-primary);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.pricing-container__card-container {
  width: 45rem;
  height: 65rem;
}

.pricing-container__card-container:hover .cards {
  transform: rotateY(180deg);
}

.pricing-container__btn {
  margin-top: 3rem;
  border: none;
  width: 20rem;
  height: 7rem;
  border-radius: 50px;
  font-size: 2.7rem;
  font-weight: bold;
  background: linear-gradient(to bottom right, var(--color-card-btn-gradient-1), var(--color-card-btn-gradient-2));
  color: #fff;
  position: absolute;
  bottom: 8rem;
  cursor: pointer;
}

.cards {
  width: 100%;
  height: 100%;
  transition: transform .8s ease-in-out;
  transform-style: preserve-3d;
}

.card-1, .card-2, .card-3 {
  overflow-x: visible;
  position: relative;
}

.card-1__front, .card-2__front, .card-3__front {
  background: var(--color-secondary);
}

.card-1__front-top, .card-2__front-top, .card-3__front-top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 35%;
  font-size: 3.2rem;
  color: var(--color-secondary);
  background: rgba(0, 0, 0, 0.25);
  background-blend-mode: multiply;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-1__bottom, .card-2__bottom, .card-3__bottom {
  position: absolute;
  top: 50%;
}

.card-1__bottom-list, .card-2__bottom-list, .card-3__bottom-list {
  color: var(--color-primary);
  font-size: 3.5rem;
  font-weight: 600;
}

.card-1__back, .card-2__back, .card-3__back {
  background: linear-gradient(to bottom right, var(--color-card-gradient-1), var(--color-card-gradient-2));
  color: var(--color-secondary);
  transform: rotateY(180deg);
}

.card-1__back h1, .card-2__back h1, .card-3__back h1 {
  position: absolute;
  top: 20rem;
  font-size: 5rem;
}

.card-1__back::before, .card-2__back::before, .card-3__back::before {
  content: "";
  width: 60%;
  height: 35%;
  position: absolute;
  background-image: url(../img/bg-svg.png);
  background-size: cover;
  top: 1.5rem;
  left: 1.5rem;
}

.card-1 figure, .card-2 figure, .card-3 figure {
  margin: 0;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  border: none;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  backface-visibility: hidden;
}

.card-1__front-top {
  background-image: url("../img/card-1-photo.jpg");
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
  background-size: cover;
}

.card-2__front-top {
  background-image: url("../img/card-2-photo.jpg");
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
  background-size: cover;
}

.card-3__front-top {
  background-image: url("../img/card-3-photo.jpg");
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
  background-size: cover;
}

.form-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: var(--color-primary);
}

.form-container__image-container {
  width: 30%;
  height: 85%;
  background-image: url("../img/form-img.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 3rem;
}

.form-container__nonDecorArea {
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.form-container__header {
  font-size: 6rem;
  font-weight: 800;
  width: 30vw;
  letter-spacing: .3rem;
}

.form-container__form {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30%;
}

.form-container__name-label {
  width: fit-content;
  font-weight: 600;
  font-size: 3.2rem;
  letter-spacing: .2rem;
  line-height: 2;
}

.form-container #name {
  width: 45rem;
  height: 5rem;
  margin-bottom: 3rem;
  border-radius: 1rem;
  font-size: 2.5rem;
  border: 0.2rem solid var(--color-primary);
  color: var(--color-card-gradient-1);
  outline: none;
}

.form-container #name:focus {
  box-shadow: 0 0 3pt 1pt var(--color-primary);
}

.form-container__email-label {
  width: fit-content;
  font-weight: 600;
  font-size: 3.2rem;
  letter-spacing: .2rem;
  line-height: 2;
}

.form-container #email {
  height: 5rem;
  margin-bottom: 4rem;
  border-radius: 1rem;
  font-size: 2.5rem;
  border: 0.2rem solid var(--color-primary);
  color: var(--color-card-gradient-1);
  outline: none;
}

.form-container #email:focus {
  box-shadow: 0 0 3pt 1pt var(--color-primary);
}

.form-container__submit-btn, .form-container__submit-btn::before {
  position: relative;
  align-self: center;
  margin-top: 3rem;
  border: none;
  width: 80%;
  height: 9rem;
  border-radius: 50px;
  font-size: 2.9rem;
  font-weight: bold;
  background: linear-gradient(to bottom right, var(--color-button-2), var(--color-card-gradient-1));
  color: #fff;
  cursor: pointer;
  outline: none;
}

.form-container__submit-btn::after {
  content: "";
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 5rem;
  background-image: linear-gradient(to bottom right, var(--color-button-2), var(--color-card-gradient-1));
  transition: all .4s;
}

.form-container__submit-btn:hover::after {
  transform: scaleX(1.1) scaleY(1.3);
  opacity: 0;
}

.form-container__submit-btn:focus::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(1rem);
  z-index: -20;
}

.footer-content {
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-content__logoEtElse {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 2;
}

.footer-content__logo-png {
  transform: scale(1.1);
}

.footer-content__copyright {
  font-size: 1.6rem;
  color: var(--color-secondary);
  margin-bottom: 2.6rem;
}

.footer-content__additional-content {
  display: flex;
}

.footer-content__list {
  list-style: none;
  line-height: 4rem;
  font-size: 1.35rem;
  text-transform: uppercase;
}

.footer-content__list a {
  color: var(--color-secondary);
  text-decoration: none;
}

@media screen and (max-width: 1650px) {
  .about-container__header {
    font-size: 3.5rem;
  }
  .about-container p {
    font-size: 2rem;
  }
}

@keyframes arrowDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(6rem);
  }
  100% {
    transform: translateY(0);
  }
}
/*# sourceMappingURL=main.css.map */