@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --color-primary: #2F2E41;
  --color-secondary: #fff;
  --color-hero-1: #B8FFA3;
  --color-hero-2: #32D5D3;
  --color-button-1: #46AAE4;
  --color-button-2: #1E12F6;
}

.background {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right bottom, var(--color-hero-1), var(--color-hero-2));
  position: absolute;
  overflow-x: hidden;
  z-index: -1;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 0 100%;
}

.header-container__logo-box {
  margin-left: 15.5rem;
}

.header-container__logo-png {
  height: 4rem;
}

.header-container__links-container {
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: 15.5rem;
}

.header-container__links-box {
  padding: 4rem 0;
}

.header-container__links {
  text-decoration: none;
  color: var(--color-secondary);
  font-weight: 600;
  font-size: 2.5rem;
  transition: all .2s;
  padding: 4rem 4rem;
}

.header-container__links:hover {
  background: rgba(0, 0, 0, 0.02);
}

.home-container {
  height: 88.6vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-secondary);
  position: relative;
}

.home-container__part-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 40%;
}

.home-container__main-header {
  flex: 0 0 35%;
  font-size: 8rem;
}

.home-container__part-2 {
  transform: scale(0.8) rotate(180deg);
  position: absolute;
  bottom: 5%;
}

.home-container__part-2 #triangle-3, .home-container__part-2 #triangle-4 {
  display: none;
}

.home-container__part-2 #triangle-1, .home-container__part-2 #triangle-2 {
  animation: arrowDown 1s infinite;
}

.about-container {
  display: flex;
  height: 100vh;
  position: relative;
  overflow-y: hidden;
  padding: 12rem 0;
}

.about-container__description {
  margin-left: 15.5rem;
  margin-right: 25rem;
  color: var(--color-primary);
  font-size: 1.4rem;
}

.about-container__header {
  text-transform: capitalize;
  margin-bottom: 4rem;
  font-weight: 700;
  font-size: 4rem;
}

.about-container__collage {
  margin-right: 15.5rem;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}

.about-container__photo-1 {
  width: 62rem;
  height: 27.8rem;
  margin-bottom: 2rem;
  border-radius: 30px;
}

.about-container__photo-2 {
  width: 30rem;
  height: 42.5rem;
  border-radius: 30px;
}

.about-container__photo-3 {
  width: 30rem;
  height: 42.5rem;
  margin-left: 2rem;
  border-radius: 30px;
}

.about-container__photo-bottom {
  display: flex;
}

.about-container__view-video-btn {
  border: none;
  padding: 3rem 8rem;
  background-image: linear-gradient(to bottom right, var(--color-hero-1), var(--color-button-1));
  border-radius: 50px;
  font-size: 2.2rem;
  font-weight: 600;
  color: var(--color-secondary);
  outline: none;
  cursor: pointer;
}

.about-container__view-video-btn:active {
  transform: translateY(-1.5px);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.about-container__video-container {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video {
  border-radius: 20px;
}

.paragraph {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 2;
  margin-bottom: 3rem;
}

@keyframes arrowDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(6rem);
  }
  100% {
    transform: translateY(0);
  }
}
/*# sourceMappingURL=main.css.map */