.background{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right bottom, var(--color-hero-1), var(--color-hero-2));

    position: absolute;
    top: 0;
    z-index: -1;
}

//////////////////////////////////////////////////////
/// HEADER/NAVBAR SECTION

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 100%;

    &__logo-box{
        margin-left: 15.5rem;
    }

    &__logo-png{
        height: 4rem;
    }

    &__links-container{
        display: flex;
        align-items: center;
        list-style: none;
        margin-right: 15.5rem;
    }

    &__links-box{
        padding: 4rem 0;
    }

    &__links{
        text-decoration: none;
        color: var(--color-secondary);
        font-weight: 600;
        font-size: 2.5rem;
        transition: all .2s;
        padding: 4rem 4rem;

        &:hover{
            background: rgba(0,0,0,0.02)
        }
    }

    .responsive-navbar{
        display: none;
    }
}

//////////////////////////////////////////////////////
/// MOBILE NAVBAR SECTION




//////////////////////////////////////////////////////
/// HOME SECTION

.home-container{
    height: 88.6vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-secondary);
    position: relative;

    &__part-1{
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        bottom: 40%;
    }

    &__main-header{
        flex: 0 0 35%;
        font-size: 8rem;
        letter-spacing: .15rem;
    }

    &__part-2{
        transform: scale(0.8) rotate(180deg);
        position: absolute;
        bottom: 5%;

        #triangle-3, #triangle-4{
            display: none;
        }

        #triangle-1, #triangle-2{
            animation: arrowDown 1s infinite;
        }
    }
}

//////////////////////////////////////////////////////
/// ABOUT SECTION

.about-container{
    height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
    
    &__description{
        max-width: 38%;
        position: absolute;
        justify-content: flex-start;
        top: 7rem;
        bottom: 0;
        left: 15.5rem;
    }
    
    &__header{
        color: var(--color-primary);
        font-size: 4rem;
        letter-spacing: .15rem;
        margin-bottom: 4rem;
    }
    
    .paragraph{
        font-weight: 500;
        font-size: 2.4rem;
        line-height: 2;
        margin-bottom: 3rem;
    }

    &__collage{
        width: 35%;
        height: 80%;
        display: grid;
        grid-template-rows: 40% auto;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;


        position: absolute;
        right: 15.5rem;
        top: 7rem;
    }

    &__photo-1{
        grid-column: 1/-1;
        background: url("../img/card-1-photo.jpg");
        background-size: cover;
        background-position: center;
        border-radius: 20px;
    }
    &__photo-2{
        grid-row: 2/3;
        background: url("../img/card-4-photo.jpg");
        background-size: cover;
        background-position: center;
        border-radius: 20px;
    }
    &__photo-3{
        grid-row: 2/3;
        background: url("../img/card-3-photo.jpg");
        background-size: cover;
        border-radius: 20px
    }
    
    &__view-video-btn{
        border: none;
        padding: 3rem 8rem;

        background-image: linear-gradient(to bottom right, var(--color-hero-1), var(--color-button-1));
        border-radius: 50px;

        font-size: 2.2rem;
        font-weight: 600;

        color: var(--color-secondary);
        outline: none;
        position: relative;

        cursor: pointer;

        &:active{
            transform: translateY(-1.5px);
            box-shadow: 0 2px 3px rgba(0,0,0,.1);
        }

        &::after{
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 50px;

            transition: background-color .4s;
        }

        &:hover::after{
            background-color: rgba(196, 222, 255, 0.2);
        }
    }

    &__video-container{
        width: 100%;
        height: 100%;
        background: rgba($color: #000000, $alpha: .5);
        position: absolute;
        top: -1000rem;
        z-index: 10000;
        transition: all .5s;

        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.video{
   border-radius: 20px;
}
.close-ico{
   font-size: 3.5rem;
   background-image: linear-gradient(to bottom right, #0077ff, rgb(0, 255, 98),rgb(70, 255, 23));
    -ms-background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    cursor: pointer;
    

    &:hover{
        background-image: linear-gradient(to bottom right, #0366d8, rgb(3, 216, 85),rgb(63, 221, 23));
    }
 }




//////////////////////////////////////////////////////
/// PRICING SECTION

.pricing-container{
    width: 100%;
    height: 100vh;
    background: var(--color-primary);
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    &__card-container{
        width: 45rem;
        height: 65rem;
        
        &:hover .cards{
            transform: rotateY(180deg);   
        }
    }
    
    &__btn{
        margin-top: 3rem;
        border: none;
        width: 20rem;
        height: 7rem;
        border-radius: 50px;
        
        font-size: 2.7rem;
        font-weight: bold;
        background: linear-gradient(to bottom right, var(--color-card-btn-gradient-1), var(--color-card-btn-gradient-2));
        color: #fff;
        
        position: absolute;
        bottom: 8rem;
        cursor: pointer;
    }
}

.cards{
    width: 100%;
    height: 100%;

    -webkit-transition: -webkit-transform .8s;
    transition: transform .8s ease-in-out;
    transform-style: preserve-3d;
}

.card-1, .card-2, .card-3{
    overflow-x: visible;
    position: relative;

    
    &__front{
        background: var(--color-secondary);
        // transform: rotateY(0deg);
        
        &-top{
            position: absolute;
            top: 0;
            width: 100%;
            height: 35%;
            border-radius: 20px 20px 0 0;
            
            font-size: 3.2rem;
            color: var(--color-secondary);
            background: rgba($color: #000000, $alpha: .25);
            background-blend-mode: multiply;
            
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    
    &__front-bottom{
        position: absolute;
        top: 50%;
        
        &-list{
            color: var(--color-primary);
            font-size: 3.5rem;
            font-weight: 600;
            list-style: none;

        }
    }
    &__back{
        background: linear-gradient(to bottom right, var(--color-card-gradient-1), var(--color-card-gradient-2));
        color: var(--color-secondary);
        transform: rotateY(180deg);
        
        & h1{
            position: absolute;
            top: 20rem;
            font-size: 5rem;
        }
        
        &::before{
            content: "";
            width: 60%;
            height: 35%;
            position: absolute;
            background-image:url(../img/bg-svg.png);
            background-size: cover;
            top: 1.5rem;
            left: 1.5rem;
        }
    }
    
    figure{
        margin: 0;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        border: none;
        position: absolute;
        
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
}

.card-1{
    &__front{
        &-top{
            background-image: url("../img/card-1-photo.jpg");
            clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
            background-size: cover;
        }
    }
}
.card-2{
    &__front{
        &-top{
            background-image: url("../img/card-2-photo.jpg");
            clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
            background-size: cover;
        }
    }
}
.card-3{
    &__front{
        &-top{
            background-image: url("../img/card-3-photo.jpg");
            clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
            background-size: cover;
        }
    }
}

//////////////////////////////////////////////////////
/// CONTACT SECTION

.form-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--color-primary);
    
    &__image-container{
        width: 30%;
        height: 85%;
        background-image: url("../img/form-img.jpg");
        background-size: cover;
        background-position: center;
        
        border-radius: 3rem;
    }
    
    &__nonDecorArea{
        height: 85%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        
    }
    
    &__header{
        font-size: 6rem;
        font-weight: 800;
        width: 32vw;
        letter-spacing: .3rem;
    }
    
    &__form{
        display: flex;
        flex-direction: column;
        
    }
    
    &__name-label{
        width: fit-content;
        
        font-weight: 600;
        font-size: 3.2rem;
        letter-spacing: .2rem;
        line-height: 2;
    }
    
    #name{
        width: 45rem;
        height: 5rem;
        margin-bottom: 3rem;
        border-radius: 1rem;
        padding: 0 1rem;
        
        font-size: 2.5rem;
        
        border: .2rem solid var(--color-primary);
        color: var(--color-card-gradient-1);
        
        outline: none;
    }
    
    #name:focus{
        box-shadow: 0 0 3pt 1pt var(--color-primary);
    }
    
    &__email-label{
        width: fit-content;
        
        font-weight: 600;
        font-size: 3.2rem;
        letter-spacing: .2rem;
        line-height: 2;
    }
    
    #email{
        height: 5rem;
        margin-bottom: 4rem;
        border-radius: 1rem;
        padding: 0 1rem;
        width: 45rem;
        
        font-size: 2.5rem;
        
        border: .2rem solid var(--color-primary);
        color: var(--color-card-gradient-1);
        outline: none;
    }
    
    #email:focus{
        box-shadow: 0 0 3pt 1pt var(--color-primary);
    }
    
    &__submit-btn,
    &__submit-btn::before{
        position: relative;
        align-self: center;
        
        margin-top: 3rem;
        border: none;
        width: 75%;
        height: 8.5rem;
        border-radius: 50px;
        
        font-size: 2.9rem;
        font-weight: bold;
        background: linear-gradient(to bottom right, var(--color-button-2), var(--color-card-gradient-1));
        color: #fff;
        
        cursor: pointer;
        outline: none;
    }
    
    &__submit-btn::after{
        content: "";
        position: absolute;
        display: inline-block;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        border-radius: 5rem;
        background-image: linear-gradient(to bottom right, var(--color-button-2), var(--color-card-gradient-1));
        
        transition: all .4s;
    }
    
    &__submit-btn:hover::after{
        transform: scaleX(1.1) scaleY(1.3);
        opacity: 0;
    }
    
    &__submit-btn:focus::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        filter: blur(1rem);
        z-index: -20;
    }
}

//////////////////////////////////////////////////////
/// FOOTER SECTION

.footer-content{
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__logoEtElse{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        line-height: 2;
    }

    &__logo-png{
        transform: scale(1.1);
    }

    &__copyright{
        font-size: 1.6rem;
        color: var(--color-secondary);
        margin-bottom: 2.6rem;
    }

    &__additional-content{
        display: flex;
    }

    &__list{
        list-style: none;
        line-height: 4rem;
        font-size: 1.35rem;
        text-transform: uppercase;
    }

    &__list a{
        color: var(--color-secondary);
        text-decoration: none;
    }
}   

///////////////////////////////////////////////////////
// HIDE/SHOW CLASSES

.hide-card-text{
    display: none;
}

.slide-down{
    top: 0 !important;
}