@media screen and (max-width: 1570px) {
  //////////////////////////////////////////////////////
  /// ABOUT SECTION
  .about-container {
    &__description &__header {
      font-size: 3.7rem;
    }

    & .paragraph {
      font-size: 2.2rem;
    }
  }
}

@media screen and (max-width: 1250px) {
  //////////////////////////////////////////////////////
  /// HEADER/NAVBAR SECTION
  .header-container {
    &__logo-box {
      margin-left: 8rem;
    }

    &__links-container {
      margin-right: 8rem;
    }
  }
  //////////////////////////////////////////////////////
  /// ABOUT SECTION
  .about-container {
    &__description {
      max-width: 42%;
      left: 8rem;
    }
    &__collage {
      right: 8rem;
    }

    &__view-video-btn {
      transform: scale(0.9);
    }
  }
}

@media screen and (max-width: 1125px) {
  //////////////////////////////////////////////////////
  /// ABOUT SECTION
  .about-container {
    &__description {
      max-width: 48%;
      left: 5rem;
    }

    &__description &__header {
      font-size: 3.4rem;
    }

    & .paragraph {
      font-size: 2rem;
    }

    &__collage {
      right: 5rem;
    }

    &__view-video-btn {
      transform: translateX(-1.5rem) scale(0.9);
    }
  }
}

@media screen and (max-width: 1080px) {
  //////////////////////////////////////////////////////
  /// HEADER/NAVBAR SECTION

  .header-container{
    height: 10rem;
  }

  .hide {
    display: none;
  }

  #header .responsive-navbar{
    display: block;
    margin-right: 8rem;
    cursor: pointer;

    &__icon{
      font-size: 3rem;
      background-image: linear-gradient(to top right, #c1d600, #00ac0e);
      -ms-background-clip: text;
      -moz-background-clip: text;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

@media screen and (max-width: 720px) {
  //////////////////////////////////////////////////////
  /// ABOUT SECTION
  .about-container {
    flex-direction: column;
    align-items: center;

    &__description {
      position: relative;
      max-width: none;
      left: 0;
      width: 80%;
    }

    &__description &__header {
      font-size: 2.5rem;
    }

    & .paragraph {
      font-size: 1.5rem;
    }


    // Specificity issue occurring, check media queries above this one and override those values here:
    &__collage {
      position: relative;
      width: 90%;
      height: 25%;

      grid-template-rows: 100%;
      grid-template-columns: 1fr 2fr 1fr;
      row-gap: 0;
    }

    &__photo-1 {
      grid-column: 2/3;
      grid-row: 1/-1;
    }
    &__photo-2 {
      grid-column: 1/2;
      grid-row: 1/-1;
    }
    &__photo-3 {
      grid-column: 3/4;
      grid-row: 1/-1;
    }

    &__view-video-btn {
      padding: 2rem 7rem;
      font-size: 1.8rem;
      font-weight: 600;
    }
  }
}
