@media screen and (max-width: 1570px) {
  //////////////////////////////////////////////////////
  /// ABOUT SECTION
  .about-container {
    &__description &__header {
      font-size: 3.7rem;
    }

    & .paragraph {
      font-size: 2.2rem;
    }
  }
}

@media screen and (max-width: 1250px) {
  //////////////////////////////////////////////////////
  /// HEADER/NAVBAR SECTION
  .header-container {
    &__logo-box {
      margin-left: 8rem;
    }

    &__links-container {
      margin-right: 8rem;
    }
  }
  //////////////////////////////////////////////////////
  /// ABOUT SECTION
  .about-container {
    &__description {
      max-width: 42%;
      left: 8rem;
    }
    &__collage {
      right: 8rem;
    }

    &__view-video-btn {
      transform: scale(0.9);
    }
  }
}

@media screen and (max-width: 1125px) {
  //////////////////////////////////////////////////////
  /// ABOUT SECTION
  .about-container {
    &__description {
      max-width: 48%;
      left: 5rem;
    }

    &__description &__header {
      font-size: 3.4rem;
    }

    & .paragraph {
      font-size: 2rem;
    }

    &__collage {
      right: 5rem;
    }

    &__view-video-btn {
      transform: translateX(-1.5rem) scale(0.9);
    }
  }
}

@media screen and (max-width: 720px) {
  //////////////////////////////////////////////////////
  /// ABOUT SECTION
  .about-container {
      flex-direction: column;
      align-items: center;

    &__description{
        position: relative;
        max-width: 90%;
        left: 2rem;
    }

    &__description &__header {
      font-size: 2.5rem;
    }

    & .paragraph {
      font-size: 1.5rem;
    }

    &__collage {
        position: relative;
      width: 38%;
      height: 50%;
      right: 2rem;
    }

    &__view-video-btn {
        padding: 2rem 7rem;
        font-size: 1.8rem;
        font-weight: 600;
    }
  }
}
