//////////////////////////////////////////////////////
/// Width

@media screen and (max-width: 1570px) {
  //////////////////////////////////////////////////////
  /// ABOUT SECTION
  .about-container {
    &__description &__header {
      font-size: 3.7rem;
    }

    & .paragraph {
      font-size: 2.2rem;
    }
  }
}

@media screen and (max-width: 1250px) {
  //////////////////////////////////////////////////////
  /// HEADER/NAVBAR SECTION
  .header-container {
    &__logo-box {
      margin-left: 8rem;
    }

    &__links-container {
      margin-right: 8rem;
    }
  }
  //////////////////////////////////////////////////////
  /// ABOUT SECTION
  .about-container {
    &__description {
      max-width: 42%;
      left: 8rem;
    }
    &__collage {
      right: 8rem;
    }

    &__view-video-btn {
      transform: scale(0.9);
    }
  }
}

@media screen and (max-width: 1125px) {
  //////////////////////////////////////////////////////
  /// ABOUT SECTION
  .about-container {
    &__description {
      max-width: 48%;
      left: 5rem;
    }

    &__description &__header {
      font-size: 3.4rem;
    }

    & .paragraph {
      font-size: 2rem;
    }

    &__collage {
      right: 5rem;
    }

    &__view-video-btn {
      transform: translateX(-1.5rem) scale(0.9);
    }
  }
}

@media screen and (max-width: 1080px) {
  //////////////////////////////////////////////////////
  /// HEADER/NAVBAR SECTION

  .header-container {
    height: calc(100vh - 89.65vh);
  }

  .hide {
    display: none;
  }

  #header .responsive-navbar {
    display: block;
    margin-right: 8rem;
    cursor: pointer;

    &__icon {
      font-size: 3rem;
      background-image: linear-gradient(to top right, #dff800, #00ac0e);
      -ms-background-clip: text;
      -moz-background-clip: text;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .mobile-nav{
    display: block !important;
    position: absolute;
    top: 0;
    right: -1rem;
    z-index: 90000;
    position: fixed;
    background: var(--color-primary);
    height: .5%;
    width: 1%;
    overflow: hidden;

    transition: 
                width 1s,
                height 1s 1s;

    &__links-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      list-style: none;
    }

    &__links-box{
      padding-bottom: 3rem;
      font-size: 1.8rem;

      &:first-child{
        padding-top: 3rem;
      }
    }

    &__links{
      text-decoration: none;
      color: var(--color-secondary);

      &:hover{
        color: #20a051;
      }
    }
  }

  //////////////////////////////////////////////////////
  /// HOME CONTAINER
  .home-container {
    height: 89.65vh;

    &__part-1 {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      bottom: 30%;
    }

    &__main-header {
      text-align: center;
    }
  }

  //////////////////////////////////////////////////////
  /// CONTACT CONTAINER

  .form-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--color-primary);


    &__header {
      font-size: 4.8rem;
      font-weight: 800;
      width: 98%;
      letter-spacing: .3rem;
      padding: 0 0rem;
    }
  }
}  

@media screen and (max-width: 720px) {
  ///////////////////////////////////////////////////////
  /// HOME CONTAINER
  .home-container {
    &__part-1 {
      bottom: 35%;
      -webkit-gap: 4rem;
      gap: 4rem;
    }

    &__main-header {
      font-size: 6rem;
      width: 80%;
    }

    &__bg-img {
      width: 85%;
    }
  }

  //////////////////////////////////////////////////////
  /// ABOUT SECTION
  .about-container {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    &__description {
      position: relative;
      max-width: none;
      left: 0;
      top: 0;
      width: 90%;
    }

    &__description &__header {
      font-size: 2.9rem;
    }

    & .paragraph {
      font-size: 1.8rem;
    }

    // Specificity issue occurring, check media queries above this one and override those values here:
    &__collage {
      position: relative;
      right: 0;
      top: 0;
      width: 90%;
      height: 25%;

      grid-template-rows: 100%;
      grid-template-columns: 1fr 2fr 1fr;
      row-gap: 0;
    }

    &__photo-1 {
      grid-column: 2/3;
      grid-row: 1/-1;
    }
    &__photo-2 {
      grid-column: 1/2;
      grid-row: 1/-1;
    }
    &__photo-3 {
      grid-column: 3/4;
      grid-row: 1/-1;
    }

    &__view-video-btn {
      padding: 2rem 7rem;
      font-size: 1.8rem;
      font-weight: 600;
    }
  }

  //////////////////////////////////////////////////////
  /// PRICING SECTION

  .pricing-container {
    width: 100%;
    height: 100vh;
    background: var(--color-primary);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    &__card-container {
      width: 90%;
      height: 30rem;
    }

    &__btn {
      margin-top: 3rem;
      border: none;
      width: 15rem;
      height: 5rem;
      border-radius: 50px;

      font-size: 2.7rem;
      font-weight: bold;
      background: linear-gradient(to bottom right, var(--color-card-btn-gradient-1), var(--color-card-btn-gradient-2));
      color: #fff;

      position: absolute;
      bottom: 4rem;
      z-index: 100;
      cursor: pointer;
    }
  }

  .card-1,
  .card-2,
  .card-3 {
    position: relative;

    &__front {
      background: var(--color-secondary);
      // transform: rotateY(0deg);

      &-top {
        position: absolute;
        top: 0;
        width: 100%;
        height: 35%;
        border-radius: 20px 20px 0 0;

        font-size: 2.7rem;
        color: var(--color-secondary);
        background: rgba($color: #000000, $alpha: 0.25);
        background-blend-mode: multiply;

        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &__front-bottom {
      position: absolute;
      top: 45%;

      &-list {
        color: var(--color-primary);
        font-size: 2.4rem;
        font-weight: 600;
        list-style: none;
      }
    }
    &__back {
      background: linear-gradient(to bottom right, var(--color-card-gradient-1), var(--color-card-gradient-2));
      color: var(--color-secondary);
      transform: rotateY(180deg);

      & h1 {
        position: absolute;
        top: 8rem;
        font-size: 5rem;
      }

      &::before {
        content: "";
        width: 80%;
        height: 95%;
        position: absolute;
        background-image: url(../img/bg-svg.png);
        background-size: contain;
        background-repeat: no-repeat;
        top: 1.5rem;
        left: 1.5rem;
      }
    }

    figure {
      margin: 0;
      width: 100%;
      height: 100%;
      border-radius: 20px;
      border: none;
      position: absolute;

      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      -moz-backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
  }

  .card-1 {
    &__front {
      &-top {
        background-image: url("../img/card-1-photo.jpg");
        clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
        background-size: cover;
        background-position: center;
      }
    }
  }
  .card-2 {
    &__front {
      &-top {
        background-image: url("../img/card-2-photo.jpg");
        clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
        background-size: cover;
        background-position: center;
      }
    }
  }
  .card-3 {
    &__front {
      &-top {
        background-image: url("../img/card-3-photo.jpg");
        clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
        background-size: cover;
        background-position-y: 10%;
      }
    }
  }

  //////////////////////////////////////////////////////
  /// CONTACT SECTION

  .form-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--color-secondary);
    position: relative;

    &__image-container {
      position: absolute;
      width: 90%;
      height: 90%;
      background-color: rgba(0, 0, 0, 0.15);
      background-blend-mode: color;
      z-index: -20;
    }

    &__nonDecorArea {
      height: 85%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start;
    }

    &__header {
      font-size: 6rem;
      font-weight: 800;
      width: 85vw;
      letter-spacing: 0.3rem;
    }
  }
}

//////////////////////////////////////////////////////
/// HEIGHT MEDIA QUERY
@media screen and (max-height: 730px) {
  //////////////////////////////////////////////////////
  /// ABOUT SECTION
  .about-container {
    &__description &__header {
      font-size: 3rem;
    }

    &__description &__header {
      font-size: 3rem;
    }

    & .paragraph {
      font-size: 1.95rem;
    }
    &__view-video-btn {
      padding: 2.5rem 5.5rem;
      font-size: 1.9rem;
      font-weight: 600;
    }
  }
}

@media screen and (max-width: 450px) {
  //////////////////////////////////////////////////////
  /// HEADER/NAVBAR SECTION

  .header-container {
    align-items: center;

    &__logo-box {
      margin-left: 2rem;
    }
  }

  #header .responsive-navbar {
    margin-right: 2rem;
  }

  #header-img {
    height: 3.5rem;
  }

  //////////////////////////////////////////////////////
  /// HOME CONTAINER
  .home-container {
    &__part-1 {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      bottom: 30%;
    }

    &__main-header {
      font-size: 4.9rem;
    }

    &__bg-img {
      width: 70%;
    }
  }

  //////////////////////////////////////////////////////
  /// ABOUT SECTION
  .about-container {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    &__description {
      position: relative;
      max-width: none;
      left: 0;
      top: 0;
      width: 95%;
      height: fit-content;
    }

    &__description &__header {
      font-size: 2rem;
    }

    & .paragraph {
      font-size: 1.3rem;
    }

    // Specificity issue occurring, check media queries above this one and override those values here:
    &__collage {
      position: relative;
      right: 0;
      top: 0;
      width: 90%;
      height: 25%;

      grid-template-rows: 100%;
      grid-template-columns: 1fr 2fr 1fr;
      row-gap: 0;
    }

    &__photo-1 {
      grid-column: 2/3;
      grid-row: 1/-1;
    }
    &__photo-2 {
      grid-column: 1/2;
      grid-row: 1/-1;
    }
    &__photo-3 {
      grid-column: 3/4;
      grid-row: 1/-1;
    }

    &__view-video-btn {
      padding: 1.5rem 4rem;
      font-size: 1.2rem;
      font-weight: 600;
      transform: translateX(0);
    }

    &__video-container {
      width: 100%;
      height: 100%;
      background: rgba($color: #000000, $alpha: 0.5);
      position: absolute;
      top: -1000rem;
      z-index: 10000;
      transition: all 0.5s;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .video{
    height: 60%;
  }

  .close-ico{
    font-size: 3.5rem;
    color: var(--color-card-gradient-2);
     -webkit-text-fill-color: unset;

     
 
     &:hover{
        color: darken(#1DBBFF, .1);
     }
  }

  //////////////////////////////////////////////////////
  /// PRICING SECTION
  .pricing-container {
    &__card-container {
      width: 90%;
      height: 22rem;
    }
  }

  .card-1,
  .card-2,
  .card-3 {
    &__front-bottom {
      position: absolute;
      top: 40%;

      &-list {
        font-size: 2rem;
      }
    }
  }

  //////////////////////////////////////////////////////
  /// CONTACT SECTION

  .form-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--color-secondary);

    &__nonDecorArea {
      height: 85%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }

    &__header {
      font-size: 4.2rem;
      font-weight: 800;
      width: 100%;
      letter-spacing: 0.3rem;
      padding: 0 2.5rem;
    }

    &__form {
      width: fit-content;
      display: flex;
      flex-direction: column;
    }

    &__name-label {
      width: fit-content;

      font-weight: 600;
      font-size: 3rem;
      letter-spacing: 0.2rem;
      line-height: 2;
    }

    #name {
      width: 95%;
      height: 5rem;
      margin-bottom: 3rem;
      border-radius: 1rem;
      padding: 0 1rem;

      font-size: 2.5rem;

      border: 0.2rem solid var(--color-primary);
      color: var(--color-card-gradient-1);

      outline: none;
    }

    #name:focus {
      box-shadow: 0 0 3pt 1pt var(--color-primary);
    }

    &__email-label {
      width: fit-content;

      font-weight: 600;
      font-size: 3.2rem;
      letter-spacing: 0.2rem;
      line-height: 2;
    }

    #email {
      height: 5rem;
      margin-bottom: 4rem;
      border-radius: 1rem;
      padding: 0 1rem;
      width: 95%;

      font-size: 2.5rem;

      border: 0.2rem solid var(--color-primary);
      color: var(--color-card-gradient-1);
      outline: none;
    }

    #email:focus {
      box-shadow: 0 0 3pt 1pt var(--color-primary);
    }
  }

  //////////////////////////////////////////////////////
  /// FOOTER SECTION

  .footer-content {
    height: 95%;
  }
}

///////////////////////////////////////////////////////
// HIDE/SHOW CLASSES

.hide-btn{
  display: none;
}

.show-mobile-nav{
  overflow: visible;
  right: 0;
  width: 100%;
  height: fit-content;
}

.hide-card-text{
  display: none;
}

.slide-down{
  top: 0;
}