:root{
    --color-primary: #2F2E41;
    --color-secondary: #fff;

    --color-hero-1: #B8FFA3;
    --color-hero-2: #32D5D3;

    --color-button-1: #46AAE4;
    --color-button-2: #1E12F6;

    --color-card-btn-gradient-1: #D57E21;
    --color-card-btn-gradient-2: #F94B9F;

    --color-card-gradient-1: #3B299E;
    --color-card-gradient-2: #1DBBFF;
}